{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
        
{% block body %}
<body class="">
{% endblock %}
        
{% block menu %}
<nav class="navbar navbar-expand-md bg-primary navbar-dark ">
    <a class="navbar-brand" href="/">Sistema Clínico</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav  ml-auto">
            <li class="nav-item ">
            <a class="nav-link" href="/vistaPacientes">Pacientes</a>
        </li>
        <li class="nav-item table-active">
            <a class="nav-link" href="/verCargarImagen">Clasificacion</a>
        </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    {{datos['nombreDoctor']}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Ver perfil</a>
                    <a class="dropdown-item" href="#">Editar perfil</a>
                    <a class="dropdown-item" href="/cerrarSesion">Cerrar sesion</a>
                </div>
            </li>
        
        </ul>
    </div>
</nav>

{% endblock %}
        
{% block content %}        
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center mb-4">Registrarse</h2>
                    <form action="/clasificarImagen" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <label id = 'img_procesar' for = 'imagen' class = 'psd_btn'>Cargar imagen </label>
                        <input name = 'imagen' id = 'imagen' type = 'file' accept = '.png, .jpg, .jpeg' required/>
                    </div>
                        <br>
                    <button type="submit" class="btn btn-success btn-block">Clasificar paciente</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

